<div class="form-group">
  <div class="input-group">
    <%= text_field_tag 'colors[]', '', class: 'color form-control' %>
    
    <span class="input-group-btn">
                                      <button class="btn btn-default" type="button">Button</button>
                                  </span>
  </div>

</div>

<script type="text/javascript">
  $(".color").minicolors({theme: 'bootstrap'});
</script>
