<div class="form-group">
  <%= label_tag :colors %>
  <%= text_field_tag :colors, '', class: 'form-control', placeholder: '#ffffff' %>
</div>

<script type="text/javascript">
  $("#color").minicolors();
</script>
