<br>
<br>

<div class="jumbotron">
  <h3><i class="fa fa-circle-o"></i> Customize your icon!</h3>
  <p>Generate your awesome icons trying several options and click on generate</p>
  <%= render partial: 'demo/form' %>
</div>


<div class="row">
  <div class="col-xs-2">
  </div>

  <div class="col-xs-10">
    <img width= "200px" id="example">
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    Texto definiendo que es
  </div>

  <div class="col-xs-6">
    Form
  </div>

  <div class="col-xs-4">
    Resultado
  </div>
</div>


<div class="row">
  <div class="col-xs-2">
    Texto definiendo que es
  </div>

  <div class="col-xs-6">
    Form
  </div>

  <div class="col-xs-4">
    Resultado
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    Texto definiendo que es
  </div>

  <div class="col-xs-6">
    Form
  </div>

  <div class="col-xs-4">
    Resultado
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    Texto definiendo que es
  </div>

  <div class="col-xs-6">
    Form
  </div>

  <div class="col-xs-4">
    Resultado
  </div>
</div>
