<br>
<br>

<h5>Are you looking for an amazing avatar generator for your website users? ruby_randimage is your gem!</h5>
<h5>A powerful, customizable and sophisticated awesome SVG avatars generator from several options such as symmetries, size, color palette and color densities.</h5>
<h5>RubyRandimage is a pure Ruby library without any dependencies.</h5>

<div class="jumbotron">
  <h3>Customize your icon!</h3>
  <p>Generate your awesome icons trying several options and click on generate</p>
  
  <%= render partial: 'demo/form' %>
  <%= render partial: 'demo/example', locals: {example: 1} %>
  <%= render partial: 'demo/example', locals: {example: 2} %>
  <%= render partial: 'demo/example', locals: {example: 3} %>
</div>