<div class="row">
  <div class="col-xs-2">
    <%= render partial: 'demo/form' %>
  </div>

  <div class="col-xs-10">
    <img width= "200px" id="example">
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    Texto definiendo que es
  </div>

  <div class="col-xs-6">
    Form
  </div>

  <div class="col-xs-4">
    Resultado
  </div>
</div>


<div class="row">
  <div class="col-xs-2">
    Texto definiendo que es
  </div>

  <div class="col-xs-6">
    Form
  </div>

  <div class="col-xs-4">
    Resultado
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    Texto definiendo que es
  </div>

  <div class="col-xs-6">
    Form
  </div>

  <div class="col-xs-4">
    Resultado
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    Texto definiendo que es
  </div>

  <div class="col-xs-6">
    Form
  </div>

  <div class="col-xs-4">
    Resultado
  </div>
</div>
